/* Reset default styles */
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: white;
  color: black;
  font-size: 25px;
  padding: 0 25px; /* Adjust horizontal padding */
}

.container {
  text-align: center;
}

.btn {
  background-color: #0E0E2C;
  color: #fff;
  padding: 1em 0.9em;
  border-radius: 0.7em;
  width: 30%;
  text-decoration: none;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10%;
  padding: 0 4%;
  background-color: white;
  border-bottom: 1px solid #ddd;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 2%;
  margin-left: 2%;
}

nav a {
  color: black;
  text-decoration: none;
  margin-right: 2%;
  font-family: 'Poppins', sans-serif;
}

nav a:hover {
  color: darkgoldenrod;
  text-decoration: underline;
}

/* Add styles for the fixed navigation bar */
.fixed-navbar {
  position: fixed;
  background-color: white;
}

.right-element {
  color: black;
}

.right-container {
  display: flex;
  align-items: flex-end;
  color: black;
}

.navbar-container {
  margin-top: 0.5%;
  background-color: white;
  padding: 1% 2%;
  font-style: italic;
}

.section1 {
  padding-top: 5%;
  margin-top: 12%;
  background-color: white;
}

.centered-video {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: disc;
}

footer {
  background-color: #fff;
  color: #000;
  text-align: center;
  padding: 1%;
}

.about {
  background-color: #0E0E2C;
  margin-top: 10%;
  padding: 5%;
  color: white;
  font-size: 150%;
  text-align: center;
  font-style: italic;
}

.aboutcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.who {
  background-color: #fff;
  margin-top: 10%;
  padding: 5%;
  color: black;
  font-size: 150%;
  text-align: center;
  font-style: italic;
}

.whocontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.why {
  background-color: #0E0E2C;
  margin-top: 10%;
  padding: 5%;
  color: white;
  font-size: 150%;
  text-align: center;
  font-style: italic;
}

.whycontainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* Services section styles */
.services {
  background-color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 170%;
  margin-top: 5%;
}

.contact {
  background-color: #0E0E2C;
  padding: 5%;
  color: #fff;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  margin-top: 5%;
  font-size: 170%;
}

a {
  color: white;
}

.contactcontainer {
  position: relative;
  flex-wrap: wrap;
}

.italic-text {
  font-style: italic;
}

.bold-text {
  font-weight: bold;
}

.instagram-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjust the gap between posts as needed */
}

.instagram-post {
  flex: 1;
}
